{% if last_page > 1 %}
    <div class="col-md-12 text-center">
        <div class="pagination">
{#                    <span class="previous">
                <a href="{{ path('fin_expense', { 'page': 1 }) }}">
                  <img src="" alt="First page" title="First page" />
                </a>
            </span>#}

            <span class="previous">
                <a href="{{ path('fin_expense', { 'page': previous_page }) }}">Previous
{#                          <img src="" alt="Previous page" title="Previous page" />#}
                </a>
            </span>

            {% for page in 1..last_page %}
                <span class="page">  
                    <a href="{{ path('fin_expense', { 'page': page }) }}">{{ page }}</a>
                </span>
            {% endfor %}

            <span class="previous">
                <a href="{{ path('fin_expense', { 'page': next_page }) }}">Next
{#                      <img src="" alt="Next page" title="Next page" />#}
                </a>
            </span>

{#                    <a href="{{ path('fin_expense', { 'page': last_page }) }}">
              <img src="" alt="Last page" title="Last page" />
            </a>#}
        </div>
    </div>
{% endif %}

<script>
    $('.pagination a').click(function() {
        
        var page = parseInt($(this).attr('href').slice(-1));
        
        if(page){
            $.post('{{ path('fin_expense') }}', {
                page: page
            }, function(html){
                if(html){
                    $('#expense_table').replaceWith(html);
                }
            });
        }
        
        return false;
    });
</script>