{% extends 'FinFinanceBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="sub-header">Expense List</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('fin_expense_new') }}" class="btn btn-lg btn-default pull-right m-t-15" target="_blank">Create a new entry</a>
        </div>
    </div>   
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Sum</th>
                    <th width="50%">Description</th>
                    <th>Created At</th>
{#                    <th>Updated At</th>#}
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('fin_expense_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.sum }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
{#                    <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <td>
                        {%include 'FinFinanceBundle:Common:actions.html.twig' with {'entity': entity} %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
